{% extends "base.html" %}
{% load rpx_tags %}

{% block title %}
{% endblock %}

{% block content %}

    <h2>{{ object.book_title }} by {{ object.book_author }}</h2>
    <p>
        <em>Category: {{ object.category.name }}</em><br />
        <em>Added by {{ object.user.username }} at {{ object.added|date }}</em>
    </p>

    <p>
        Rating: <strong>{{ object.rating }}</strong> |
        {% if user.is_authenticated %}
        <a href="{% url book_reviews.views.upvote_review object.id %}">&uarr; Upvote this review</a> |
        <a href="{% url book_reviews.views.downvote_review object.id %}">&darr; Downvote this review</a>
        {% else %}
        Please {% rpx_link "login" %} to be able to vote for reviews.
        {% endif %}
    </p>

    <div id ="maintext">
        {% if object.book_cover %}
        <img src="{{ MEDIA_URL }}{{ object.book_cover }}" style="float:left; padding-right: 30px;" >
        {% endif %}    
        {{ object.text|linebreaks }}
    </div>

    <br style="clear: both;" /><br />
    <p>
        Rating: <strong>{{ object.rating }}</strong> |
        {% if user.is_authenticated %}
        <a href="{% url book_reviews.views.upvote_review object.id %}">&uarr; Upvote this review</a> |
        <a href="{% url book_reviews.views.downvote_review object.id %}">&darr; Downvote this review</a>
        {% else %}
        Please {% rpx_link "login" %} to be able to vote for reviews.
        {% endif %}
    </p>

{% endblock %}
