{% extends "base.html" %}
{% load rpx_tags %}

{% block title %}
{% endblock %}

{% block content %}

    {% if category %}
    <h2>Reviews in category {{ category.name }}</h2>

    {% if sorting == "new" %}
    <a href="{% url book_reviews.views.review_list category.slug 'top' %}">Top</a> |
    <strong>New</strong>

    {% else %}
    <strong>Top</strong> |
    <a href="{% url book_reviews.views.review_list category.slug 'new' %}">New</a>

    {% endif %}
    
    {% else %}
    <h2>Reviews in all categories</h2>

    {% if sorting == "new" %}
    <a href="{% url book_reviews.views.home %}">Top</a> |
    <strong>New</strong>

    {% else %}
    <strong>Top</strong> |
    <a href="{% url book_reviews.views.home_new %}">New</a>

    {% endif %}

    {% endif %}


    {% for object in object_list  %}

    <h3><a href="{% url book_reviews.views.review_detail object.id %}">{{ object.book_title }} by {{ object.book_author }}</a></h3>
    <p>
        <em>Category: {{ object.category.name }}</em><br />
        <em>Added by {{ object.user.username }} at {{ object.added|date }}</em>
    </p>

    <p>
        Rating: <strong>{{ object.rating }}</strong> |
        {% if user.is_authenticated %}
        <a href="{% url book_reviews.views.upvote_review object.id %}">&uarr; Upvote this review</a> |
        <a href="{% url book_reviews.views.downvote_review object.id %}">&darr; Downvote this review</a>
        {% else %}
        Please {% rpx_link "login" %} to be able to vote for reviews.
        {% endif %}
    </p>

    <div id ="maintext">
        {% if object.book_cover %}
        <img src="{{ MEDIA_URL }}{{ object.book_cover }}" style="float:left; padding-right: 30px;" >
        {% endif %}    
        {{ object.text|linebreaks }}
    </div>

    <br style="clear: both;" /><br />
    <p>
        Rating: <strong>{{ object.rating }}</strong> |
        {% if user.is_authenticated %}
        <a href="{% url book_reviews.views.upvote_review object.id %}">&uarr; Upvote this review</a> |
        <a href="{% url book_reviews.views.downvote_review object.id %}">&darr; Downvote this review</a>
        {% else %}
        Please {% rpx_link "login" %} to be able to vote for reviews.
        {% endif %}
    </p>
    
    <hr />

    {% empty %}
    <p>
        Sorry, no reviews in this category yet.
    </p>

    {% endfor %}

{% endblock %}
